#desc,
#experiment {
  display: flex;
  flex-direction: column;
}

.buttonRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mono *,
.mono {
  font-family: monospace
}

.option {

  width: 300px;
  height: 70px;
  position: relative;
  background: #3a096e;
  margin-bottom: 25px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  /*   box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.8),
          4px 4px 6px rgba(0, 0, 0, 0.2); */
}

.option:hover {

  box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.1),
    inset 6px 6px 12px rgba(0, 0, 0, 0.1);

}