<!doctype html>
<html lang="it">

<link href="stylesheets/style.css" rel="stylesheet" />

<head>
    <title>Human Experiment</title>
</head>

<body>
    <h1>camelCase or kebab-case</h1>
    <h2>which is better ?</h2>

    <div class="description">
        <p>.........................</p>
    </div>

    <div class="grid">

       <div class="container">
	
        <h3>Choose your age group:</h3>
        
      <ul>
      <li>
        <input type="radio" id="f-option" name="selector">
        <label for="f-option">16-20</label>
        
        <div class="check"></div>
      </li>
      
      <li>
        <input type="radio" id="s-option" name="selector">
        <label for="s-option">21-24</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
      
      <li>
        <input type="radio" id="t-option" name="selector">
        <label for="t-option">25-...</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
    </div>


    <div class="container">
	
        <h3>Have you ever programmed?</h3>
        
      <ul>
      <li>
        <input type="radio" id="yes" name="hp">
        <label for="yes">Yes</label>
        
        <div class="check"></div>
      </li>
      
      <li>
        <input type="radio" id="no" name="hp">
        <label for="no">No</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
      
    </ul>
    </div>

    <div class="container">
	
        <h3>If yes, how much ?</h3>
        
      <ul>
      <li>
        <input type="radio" id="once" name="hm">
        <label for="once">Once</label>
        
        <div class="check"></div>
      </li>
      
      <li>
        <input type="radio" id="lt5" name="hm">
        <label for="lt5">Less than 5 times</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
      
      <li>
        <input type="radio" id="mt5" name="hm">
        <label for="mt5">More than 5 times</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
    </div>
   
    </div>

      <br><br><br><br>
    <div class="contain">
        <form method="" action="/run">
        <button id="btnStart" type="submit">Start TEST</button>
    </form>
    </div>

</body>



</html>