<!doctype html>
<html lang="it">

<link href="stylesheets/style.css" rel="stylesheet" />

<head>
  <title>Human Experiment</title>
</head>

<body>
  <h1>Capitalization Convention Experiment</h1>
  <h2>By Ian Abuaf Pelo and Gualandris Andrea</h2>
  <div class="description infcon">
    <h3>Informed consent:</h3>
    <p>For the purposes of the experiment we will record your anonimyzed answers to the following form. Furthermore, your reaction time and correctness during the experiment will also be recorded.</p>
    <p>If you want to stop the experiment, you may close the web page at any time. No data about you will be saved if you don't finish the experiment.</p>
    <p>By completing the experiment you grant us permission to use your anonimyzed data for educational or research purposes.</p>
  </div>
  <div class="grid">
    <div class="container">
      <h3>What input device are you using?</h3>
      <ul>
        <li>
          <input type="radio" id="f-option" name="device" value="mouse">
          <label for="f-option">Mouse</label>
          <div class="check"></div>
        </li>
        <li>
          <input type="radio" id="s-option" name="device" value="trackpad">
          <label for="s-option">Trackpad</label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </li>
        <li>
          <input type="radio" id="t-option" name="device" value="touch">
          <label for="t-option">Touchscreen</label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </li>
        <li>
          <input type="radio" id="t-option" name="device" value="other">
          <label for="t-option">Other</label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="container">
      <h3>Do you study or work in the field of computer science?</h3>
      <ul>
        <li>
          <input type="radio" id="yes" name="hp" value="yes">
          <label for="yes">Yes</label>

          <div class="check"></div>
        </li>
        <li>
          <input type="radio" id="no" name="hp" value="no">
          <label for="no">No</label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </li>
      </ul>
    </div>

   <!--  <div class="container">

      <h3>If yes, how much ?</h3>

      <ul>
        <li>
          <input type="radio" id="once" name="hm" value="once">
          <label for="once">Once</label>

          <div class="check"></div>
        </li>

        <li>
          <input type="radio" id="lt5" name="hm" value="LT5">
          <label for="lt5">Less than 5 times</label>

          <div class="check">
            <div class="inside"></div>
          </div>
        </li>

        <li>
          <input type="radio" id="mt5" name="hm" value="GT5">
          <label for="mt5">More than 5 times</label>

          <div class="check">
            <div class="inside"></div>
          </div>
        </li>
      </ul>
    </div> -->

  </div>
  <p class="description">By clicking "Proceed" you agree to the informed consent terms defined above.</p>
  <div class="contain">
    <form method="" action="/run">
      <button id="btnStart" class="fancybtn" type="submit">Proceed</button>
    </form>
  </div>

</body>

<script>
  /* 
      var user
  
      var age = document.querySelectorAll("age")
      var studyComputerScience = document.getElementById("cs") */


  document.getElementById("btnStart").onclick = function (event) {

    event.preventDefault();

    var radiosDevice = document.getElementsByName("device")
    var radiosHp = document.getElementsByName("hp")
    // var radiosHm = document.getElementsByName("hm")

    var selectedDevice = Array.from(radiosDevice).find(radiosDevice => radiosDevice.checked)
    var selectedHp = Array.from(radiosHp).find(radiosHp => radiosHp.checked)
    if (selectedDevice == undefined || selectedHp == undefined) {
        alert('Please complete the form to continue')
        return
    }
    console.log(selectedDevice.value)
    localStorage.setItem("device", selectedDevice.value)
    localStorage.setItem("csexp", selectedHp.value)
    location.href = "/run"
  }

</script>

</html>